.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/SynthesisProjectX.iml
.idea/workspace.xml
Automatic Visualization/tkSimpleDialog.pyc
getting_acquainted
documents
/.project
/.dbeaver-data-sources.xml
/.pydevproject
