.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/SynthesisProjectX.iml
.idea/workspace.xml
Automatic Visualization/tkSimpleDialog.pyc
getting_acquainted
documents
/.project
.idea
__pycache__
.project
.pydevproject
Sequence Patterns/trajectorySupport.txt
Sequence Patterns/allTrajectorySupport.txt
Sequence Patterns/trajectories.txt
Sequence Patterns/trajectSupportRatio.txt
